body
{
	font-family: arial;
	font-size: 14px;
}

/*Général-------------------------------------------------------------------------------------*/
.container{width: 100%;}

/*Header--------------------------------------------------------------------------------------*/
header
{
	display: flex;
	padding: 2%;
	background-color: #444;
	color: white;
	border-bottom: 1px solid #CCC;
}

header h1
{
	text-align: center;
	flex: 1;
}

header div
{
	display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}

header a
{
	color: white;
	text-decoration: none;
}

/*Barre latérale-------------------------------------------------------------------------------*/
menu
{
	background-color: #E0E0E0;
	border: 1px solid #BBB;
	border-radius: 6px;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: -6px;
}

menu div{margin-left: 10%;}

menu img
{
	width: 12px;
	height: 12px;
}

.hidden-menu{display: none;}

/*Couleur des "dossiers" sélectionnés, remplacé par un menu déroulant avec des "+" et "-"
#promo1{color: #26F;}
#category1{color: #26F;}
#app1{color: #26F;}
#group1{color: #26F;}*/
.selected-student{color: #26F;}

/*Onglets---------------------------------------------------------------------------------*/
#tabs-app
{
	display: flex;
	margin-top: 2%;
	border-left: 1px solid black;
}
.tab-app
{
	padding: 10px;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

#content
{
	border: 1px solid black;
}

#tabs
{
	display: flex;
}
.tab
{
	padding: 10px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	transition: 1s all ease;
}
.tab:hover{
	cursor:pointer;
	background-color: #DDD;
}
.selected-tab
{
	background-color: #26F;
	color: white;
}
.selected-tab:hover{
	cursor: pointer;
	background-color: #13F;
}

/*Contenu principal----------------------------------------------------------------------------*/
article
{
	display: none;
	margin: 10px;
}
.selected-article{
	display: block;
}

table
{
	border-collapse: collapse;
}

td
{
	word-break: break-all;
	border: 1px solid black;
}

td:nth-child(5){border: none;}

td:nth-child(1)
{
	word-break: initial;
	padding: 0;
	vertical-align: top;
}
.skill
{
	padding: 5px;
	background-color: #E0E0E0;
	border-bottom: 1px solid black;
}
.criteria
{
	padding: 5px;
}

.skill-levels
{
	display: flex;
}
.skill-level
{
	font-weight: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 20%;
	border: 1px solid black;
	padding: 5px;
}
.skill-level:nth-child(n+2)
{
    margin-left: -1px;
}
.skill-level-cell
{
	width: 20%;
	height: 20px;
}
#skill-level1{background-color: #0A0;}
#skill-level2{background-color: #0A0;}
#skill-level3{background-color: #0A0;}

/*Footer----------------------------------------------------------------------------------------*/
footer
{
	display: flex;
	padding: 2%;
	background-color: #444;
	border-top: 1px solid #CCC;
	justify-content: space-around;
}

footer a
{
	color: white;
	text-decoration: none;
}

