body
{
	font-family: arial;
	font-size: 14px;
}

/*Responsive----------------------------------------------------------------------------------*/
@media (min-width: 768px)
{
  .container
  {
    width: 750px;
  }
  .hidden-comment
  {
  	display: none;
  }
}

@media (min-width: 992px)
{
  .container
  {
    width: 970px;
  }
  .hidden-comment
  {
  	display: table-cell;
  }
}

@media (min-width: 1200px)
{
  .container
  {
    width: 1170px;
  }
}

/*Header--------------------------------------------------------------------------------------*/
header
{
	display: flex;
	padding: 2%;
	background-color: #444;
	color: white;
	border-bottom: 1px solid #CCC;
}

header h1
{
	text-align: center;
	flex: 1;
}

header div
{
	display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}

header a
{
	color: white;
	text-decoration: none;
}

/*Barre latérale-------------------------------------------------------------------------------*/
menu
{
	background-color: #E0E0E0;
	border: 1px solid #BBB;
	border-radius: 5px;	
	padding-top: 2%;
	padding-bottom: 2%;
}

menu div
{
	margin-left: 10%;
}

menu img
{
	width: 12px;
	height: 12px;
}

/*Couleur des "dossiers" sélectionnés, remplacé par un menu déroulant avec des "+" et "-"
#promo1{color: #26F;}
#category1{color: #26F;}
#app1{color: #26F;}
#group1{color: #26F;}*/
#student1{color: #26F;}

/*Contenu principal----------------------------------------------------------------------------*/
#tabs-app
{
	display: flex;
	margin-top: 2%;
	border-left: 1px solid black;
}
.tab-app
{
	padding: 10px;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

#content
{
	border: 1px solid black;
}

#tabs
{
	display: flex;
}
.tab
{
	padding: 10px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
#tab1
{
	background-color: #26F;
	color: white;
}

article
{
	margin: 10px;
}

table
{
	border-collapse: collapse;
}

td{border: 1px solid black;}
td:nth-child(5){border: none;}

td:nth-child(1)
{
	padding: 0;
	vertical-align: top;
}
.skill
{
	padding: 5px;
	background-color: #E0E0E0;
	border-bottom: 1px solid black;
}
.criteria
{
	padding: 5px;
}

.skill-levels
{
	display: flex;
}
.skill-level
{
	font-weight: normal;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 20%;
	border: 1px solid black;
}
.skill-level:nth-child(n+2)
{
    margin-left: -1px;
}
.skill-level-cell
{
	width: 20%;
	height: 20px;
}
#skill-level1{background-color: #0A0;}
#skill-level2{background-color: #0A0;}
#skill-level3{background-color: #0A0;}

/*Footer----------------------------------------------------------------------------------------*/
footer
{
	display: flex;
	padding: 30px;
	background-color: #444;
	border-top: 1px solid #CCC;
	justify-content: space-around;
}

footer a
{
	color: white;
	text-decoration: none;
}

